sudo: required
language: c

matrix:
    include:
      - env: postgres=9.4
        addons:
            postgresql: 9.4
            apt:
                packages:
                  - postgresql-server-dev-9.4
        install:
          - sudo make install
      - env: postgres=9.5
        addons:
            postgresql: 9.5
            apt:
                packages:
                  - postgresql-server-dev-9.5
        install:
          - sudo make install
      - env: postgres=9.6
        addons:
            postgresql: 9.6
            apt:
                packages:
                  - postgresql-server-dev-9.6
        install:
          - sudo make install
      - env: postgres=10
        addons:
            postgresql: 10
            apt:
                packages:
                  - postgresql-10
                  - postgresql-client-10
                  - postgresql-server-dev-10
        install:
          - export PGPORT=5433
          - sudo make install
      - env: postgres=11
        install:
          - sudo apt-get remove -y postgresql-9.2
          - sudo apt-get install postgresql-11 postgresql-client-11 postgresql-server-dev-11
          - export PGPORT=5433
          - sudo -u postgres psql  -c "create user travis with superuser";
          - sudo make install

    allow_failures:
      - env: postgres=9.4

    fast_finish: true


before_install:
  - wget https://archive.apache.org/dist/kafka/0.11.0.1/kafka_2.11-0.11.0.1.tgz -O kafka.tgz
  - mkdir -p kafka && tar xzf kafka.tgz -C kafka --strip-components 1
  - nohup bash -c "cd kafka && bin/zookeeper-server-start.sh config/zookeeper.properties &"
  - nohup bash -c "cd kafka && bin/kafka-server-start.sh config/server.properties &"
  - ln -s kafka/bin/kafka-topics.sh kafka/bin/kafka-topics
  - ln -s kafka/bin/kafka-console-producer.sh kafka/bin/kafka-console-producer
  - wget https://github.com/edenhill/librdkafka/archive/v0.11.1.tar.gz
  - tar -zxvf v0.11.1.tar.gz
  - sudo bash -c "cd librdkafka-0.11.1 && ./configure && make && make install"
  - sudo cp /usr/local/lib/librdkafka.so* /lib/

script:
  - KAFKA_PRODUCER=$PWD/kafka/bin/kafka-console-producer.sh KAFKA_TOPICS=$PWD/kafka/bin/kafka-topics.sh make installcheck
after_failure:
  - cat regression.diffs
