sudo: required
addons:
   postgresql: 
        - "9.4"
        - "9.5"
        - "9.6"
matrix:
   include:
     - addons: 
          postgresql: 9.4
       install:
           - sudo apt-get install postgresql-server-dev-9.4
           - sudo make install
     - addons: 
          postgresql: 9.5
       install:
           - sudo apt-get install postgresql-server-dev-9.5
           - sudo make install
     - addons: 
          postgresql: 9.6
       install:
           - sudo apt-get install postgresql-server-dev-9.6
           - sudo make install
#     - addons: postgresql: 10
before_install:
  - wget http://www.us.apache.org/dist/kafka/0.8.2.1/kafka_2.10-0.8.2.1.tgz -O kafka.tgz
  - mkdir -p kafka && tar xzf kafka.tgz -C kafka --strip-components 1
  - nohup bash -c "cd kafka && bin/zookeeper-server-start.sh config/zookeeper.properties &"
  - nohup bash -c "cd kafka && bin/kafka-server-start.sh config/server.properties &"
  - wget https://github.com/edenhill/librdkafka/archive/v0.11.1.tar.gz
  - tar -zxvf v0.11.1.tar.gz 
  - sudo bash -c "cd librdkafka-0.11.1 && ./configure && make && make install"
  - sudo cp /usr/local/lib/librdkafka.so* /lib/
script:
  - make installcheck
after_failure:
  - cat /home/travis/build/adjust/kafka_fdw/regression.diffs
